*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.header {
    width: 100%;
    height: 100vh;
    background: white;
}

.side-nav {
    width: 250px;
    height: 100%;
    background: #0d74f5;
    position: fixed;
    top: 0;
    left: 0;
    padding: 10px 20px;
}

.logo {
    display: block;
    color: white;
    margin-bottom: 130px;
    width: 150px;
}

.nav-links {
    list-style: none;
    position: relative;
}

.nav-links li {
    padding: 10px 50px; 
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 50px;
    display: 22px;
    margin-right: 20px;
    align-items: center;
}
.nav-links li a i {
    font-size: 22px;
    margin-right: 20px;
}

.active {
    background: white;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 22%;
    top: 2.6%;
    z-index: -1;
    border-radius: 20px;
    box-shadow: 0 10px 10px rgba(255, 255, 255, 0.4);
    display: none;
    transition: 0.5s;
}

.nav-links li:hover a {
    color: #0d74f5;
    transition: 0.3s;
}

.nav-links li:hover ~ .active {
    display: block;
}

.nav-links li:nth-child(1):hover ~ .active {
    left: 17%; top: 3.9%; 
}

.nav-links li:nth-child(2):hover ~ .active {
    left: 17%; top: 29%;
}

.nav-links li:nth-child(3):hover ~ .active {
    left: 17%; top: 55%;
}

.nav-links li:nth-child(4):hover ~ .active {
    left: 17%; top: 80%;
}
.center {
    margin-top: 2%;
    margin-left: 22%;

}

b {
    font-size: 2em;
    position: sticky;
}
.search input[type=text] {
    width: 220px;
    height: 35px;
    border-radius: 50px;
    border: none;
    position: sticky;
}
.search {
    float: right;
    margin: 2px;
    margin-right: 25%;
    position: sticky;
}

.search button{
    height: 10px;
    width: 15px;
    background-color: #ffffff;
    color: #f2f2f2;
    float: right;
    padding: 5px 5px;
    margin-right: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer; 
    border-radius: 20px;
    position: sticky;
}

.request {
    float: right;
    margin: 2px;
    margin-right: 5%;
    position: sticky;
}

.request button {
  float: right;
  margin-right: -500px;
  background-color: #0d74f5;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  position: sticky;
}
#img-button{
    height: 19px;
    width: 19px;
}
 #Tech {
    height: 25%;
    width: 25%;
    border-radius: 10px;
 }
 .News{
    margin-top: 50px;
    margin-left: 10px;
    width: 60%;
    height: auto;
    background: #fff;
    padding: 10px 50px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
    font-size: 12px;
    align-items: center;
 }
 span {
    display: flex;
    align-items: center;
 }

 #imp-1:hover {
    background-color: #0d74f5;
    cursor: pointer;
 }
 #g-logo {
    height: 100px;
    width: 100px;
 }
 




 .profile{
    
    margin-top: 50px;
    margin-left: 10px;
    width: 60%;
    height: auto;
    background: #fff;
    padding: 10px 40px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
    font-size: 12px;
    align-items: center;
 }

 .a-1 {
    margin-left: 200px;
    margin-top: -50px;
 }

 .a-1:hover {
    color: yellow;
    border-color: none;
    cursor: pointer;
 }
 span {
    display: flex;
    align-items: center;
 }

 #imp-2:hover {
    background-color: #0d74f5;
    cursor: pointer;
 }

 #a-logo {
    margin-right: 15px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
 }
 .dollar {
    margin-left: 100px;
    margin-top: -27px;
    font-size: 20px;
    cursor: pointer;
 }
.star-1 {
    margin-left: 50px;
    margin-top: -45px;
}

.star-1:hover{
    color: yellow;
    border-color: none;
    cursor: pointer;
}
.profile-1 {
    margin-left: 100px;
    margin-top: -50px;
    border-radius: 20px;
    color: white;
    background-color: #0d74f5;
    cursor: pointer;
}








.profile2{
    
    margin-top: 50px;
    margin-left: 10px;
    width: 60%;
    height: auto;
    background: #fff;
    padding: 10px 40px;
    border-radius: 7px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
    font-size: 12px;
    align-items: center;
 }

 .a-1 {
    margin-left: 200px;
    margin-top: -50px;
 }

 .a-1:hover {
    color: yellow;
    border-color: none;
    cursor: pointer;
 }
 span {
    display: flex;
    align-items: center;
 }

 #imp-11:hover {
    background-color: #0d74f5;
    cursor: pointer;
 }

 #a-logo {
    margin-right: 15px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
 }
 .dollar1 {
    margin-left: 100px;
    margin-top: -27px;
    font-size: 20px;
    cursor: pointer;
 }
.star-2 {
    margin-left: 50px;
    margin-top: -45px;
}

.star-2:hover{
    color: yellow;
    border-color: none;
    cursor: pointer;
}
.profile-2 {
    margin-left: 100px;
    margin-top: -50px;
    border-radius: 20px;
    color: white;
    background-color: #0d74f5;
    cursor: pointer;

}





.left-nav {
    margin-top: -850px;
    margin-left: 1020px;
    background-color:#f0f8ff ;
    width: auto;
}
.support-btn {
    border-radius: 20px;
    color: white;
    background-color: #0d74f5;
    cursor: pointer;
    padding: 10px 40px;
}

.support-btn:hover {
    color: #0d74f5;
    background-color: #f2f2f2;
}

.subscribe {
    margin-top: 45px;
    margin-left: 5px;
}
.premium-img {
    margin-left: 15px;
    height: 50%;
    width: 50%;
    border-radius: 10px;
}

.pre-btn {
    margin-left: 10px;
    border-radius: 20px;
    color: white;
    background-color: #0d74f5;
    cursor: pointer;
    padding: 5px 50px;
}
.premium {
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
    width: 90%;
    
}

.about {
    font-size: 0.9em;
    padding: 0;
    font-family: sans-serif;
}

.share {
    display: flex;
    margin: 10px;
    padding: 10px 10px;
   
}

#whats {
    margin: 10px;
}

#tt {
    margin: 10px;
}

#insta {
    margin: 10px;
}